@import "tailwindcss";

:root {
  color-scheme: dark;
}

/* Optional but recommended */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

::selection {
  background: rgba(255, 214, 10, 0.25);
}